.cart-dropdown-container {
  position: absolute;
  width: 24rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 0.1rem solid black;
  background-color: white;
  top: 9rem;
  right: 5rem;
  z-index: 5;

  .empty-message {
    font-size: 1.8rem;
    margin: 5rem auto;
  }

  .cart-items {
    height: 24rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
