.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 45rem;
  margin: 12rem 0 0;

  h2 {
    margin: 1rem 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
