.sign-up-container {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  width: 45rem;

  h2 {
    margin: 1rem 0;
  }
}

.messages {
  background-color: rgba(223, 228, 234, 1);
  margin: 3rem 0;

  .warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .error {
      display: block;
      color: red;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
      padding: 0 0 1rem;
      width: 90%;
      text-align: left;

      &:first-of-type {
        padding-top: 1rem;
      }

      // &:last-of-type {
      //   margin-top: 1rem;
      //   padding-bottom: 1rem;
      // }
    }

    .dismiss {
      cursor: pointer;
      display: block;
      border: 1.5px solid black;
      border-radius: 0.2rem;
      font-size: 2rem;
      font-weight: 600;
      margin: 0 auto 1rem;
      padding: 0.3rem;
      line-height: 1.5rem;
      width: fit-content;
    }
  }

  .success {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    z-index: 10;

    .success-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 0.4rem;
      color: rgba(34, 47, 62, 1);
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.5rem;
      padding: 3rem;
      width: 30rem;
      height: fit-content;

      .green-text {
        color: rgba(16, 172, 132, 1);
        font-size: 1.7rem;
      }
    }
  }
}

.tab {
  tab-size: 2;
}
